{% extends "base.html" %}

{% block content %}
<h1>Adding a Payments</h1>

<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.who_paid.label }}<br>
        {{ form.who_paid(class="form-control") }}<br>
        {% for error in form.who_paid.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.pay_size.label }}<br>
        {{ form.pay_size(class="form-control") }}<br>
        {% for error in form.pay_size.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.category.label }}<br>
        {{ form.category(class="form-control", type="email") }}<br>
        {% for error in form.category.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}